//Userin naviqasiya menyusu
.userPanel You are logged in:
    ul.user_menu_btns
        li
            a(href="/") Home
        li
            a(href="../user/#{user.name}") Profile
        li
            a(href="../user/#{user.name}/edit") Edit Profile
        li
            a(href="/signout") Sign Out