
if (user)
    //Userin naviqasiya menyusu
    .nav.navbar.userPanel
        nav.navbar.navbar-default(role='navigation')

          .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav
              li
                a(href="/") Home
              li
                a(href="/user/#{user.name}") Profile
              li
                a(href="/user/#{user.name}/edit") Edit Profile
              li
                a(href="/signout") Sign Out
else
    .nav.navbar.userPanel
        nav.navbar.navbar-default(role='navigation')

            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                ul.nav.navbar-nav.navbar-right
                    li
                        form.navbar-form.navbar-left(method="post" action="user/login")
                            .form-group
                              input.form-control(type="text", name="username", placeholder="Username")
                            .form-group
                              input.form-control(type="password", name="pass", placeholder="Password")
                            input.btn.btn-primary(type="submit" value="Sign In")






