extends layout

block content
  //Eger istifadeci sisteme daxil olmayibsa
  if auth
    p
      ul
       li
        a(href="/user/me") Profile

    p header
    p content
    p footer
  else
    h1 Register
    form#regForm(method="post" action="user/new")
      label Username
      input#loginInput(type="text", name="login")
      label Password
      input#passInput(type="password", name="pass")
      input#submitBtn(type="submit" value="Sign Up")

    h1 Sign In
    form#logForm(method="post" action="user/login")
      label Username:
      input#loginInput(type="text", name="login")
      label Password:
      input#passInput(type="password", name="pass")
      input#submitBtn(type="submit" value="Sign In")