extends layout

block content
  //Eger istifadeci sisteme daxil olmayibsa
  if user
    include .\partials\menu

    p header
    p content
    p footer
  else
    h1 Register
    form(method="post" action="user/new")
      p
        label Username
        input(type="text", name="username")
      p
        label Password
        input(type="password", name="pass")
      p
        label Email
        input(type="text", name="email")
      input(type="submit" value="Sign Up")

    h1 Sign In
    form#logForm(method="post" action="user/login")
      p
        label Username:
        input#loginInput(type="text", name="username")
      p
        label Password:
        input#passInput(type="password", name="pass")
      input#submitBtn(type="submit" value="Sign In")