extends layout

block content
  include .\partials\menu

  //Eger istifadeci sisteme daxil olmayibsa
  if user

    p header
    p content
    p footer
  else
    h1 Register
    form(method="post" action="user/new")
      p
        input.form-control(type="text", name="username", placeholder="Username")
      p
        input.form-control(type="password", name="pass", placeholder="Password")
      p
        input.form-control(type="text", name="email", placeholder="E-mail")
      input.btn.btn-primary(type="submit" value="Sign Up")
