doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    .container
      h4 Project 01
      include \partials\menu
      .row
        .col-md-3
          .panel.panel-default
            .panel-heading [sidebar title]
            .panel-body
              p [sidebar body]
        .col-md-9
          .panel.panel-default
            .panel-body
              block content

    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap.min.js")