extends ../layout
block content
    include ..\partials\menu
    h1= title
    pre
        form(method="post")
             p
                input.form-control(type="text", value="#{user.name}", name="username", placeholder="Username")
             p
                input.form-control(type="text", value="#{user.email}", name="email", placeholder="E-mail")
             input.btn.btn-primary(type="submit", value="Submit")
             a.help-block(href="../#{user.name}/edit/password") Change Password



