extends ../layout

block content
    h1= login
    pre
     .userInfo= 'ID: ' + login
     .userInfo= 'Pass: ' + pass

    - if (own)
        .userPanel You are logged in:
        ul.user_menu_btns
         li
            a(href="/") Home
         li
            a(href="./#{login}/edit") Edit Profile
         li
            a(href="/signout") Sign Out
