extends ../layout

block content
    - if (own)
        include ..\partials\menu

    h1= user.name
    .panel.panel-default
      .panel-body
        ul.list-group
          li.list-group-item
            .userInfo= 'ID: ' + user._id
          li.list-group-item
            .userInfo= 'Password: ' + user.pass
          li.list-group-item
            - if (user.email)
              .userInfo= 'Email: ' + user.email



