extends ../layout
block content
    include ..\partials\menu
    h1= title
    pre
        form(method="post")
            p
                input.form-control(type="password", value="", name="currentpass", placeholder="Current Password")
            p
                input.form-control(type="password", value="", name="newpass", placeholder="New Password")
            p
                input.form-control(type="password", value="", name="confirmpass", placeholder="Confirm new password")
            input.btn.btn-primary(type="submit", value="Submit")
