extends ../layout
block content
    h1 Change Password
    pre
        form(method="post")
            p
             label Current Password:
                input(type="text", value="", name="currentpass")
            p
             label New Password:
                input(type="text", value="", name="newpass")
            p
             label Confirm new password:
                input(type="text", value="", name="confirmpass")
            input(type="submit", value="Submit")
