extends ../layout
block content
    h2= blog.title

    - text = blog.content
    - text = text.replace( /\r\n|\r|\n/g, '<br/>' )
    //- htmlText = $('<div><span id='box'>Hi, I am a span box</span></div>')

    article= text